<span class="terminos">
    <b>AVISO DE PRIVACIDAD DE DE IRISARRI</b>
    <br><br>
    Para dar cumplimiento a lo dispuesto en la Ley Estatutaria 1581 de 2012, reglamentada parcialmente
    por los Decretos 1377 de
    2013 y Decreto 886 de 2014, normas compiladas en el Decreto Único Nacional del Sector Comercio,
    Industria y Turismo 1074
    de 2015 (Artículos 2.2.2.25.1.1. al 2.2.2.26.3.4), la marca <b>DE IRISARRI</b> le informa que sus
    datos serán tratados conforme a las
    POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN PERSONAL desarrollada y publicada en la página
    www.deirisarri.co.
    LAURA DE IRISARRI, titular de la marca <b>DE IRISARRI</b> actúa como Responsable del Tratamiento de
    los Datos Personales,
    sobre los cuales guardará su confidencialidad atendiendo los requisitos y medidas de seguridad
    exigidos por la ley.
    El tratamiento que se le dará bajo la marca <b>DE IRISARRI</b> a los datos personales se limitará a
    la recolección, almacenamiento,
    uso y circulación para las finalidades autorizadas por medio de las diferentes herramientas por
    donde se colectan los datos.
    Una vez se cumplan con las finalidades del tratamiento para la cual se otorgó autorización por parte
    del titular, los datos
    personales serán suprimidos de las bases de datos de la marca <b>DE IRISARRI</b>
    <br><br>
    <b>FINALIDADES Y USOS DE LOS DATOS PERSONALES:</b>
    <br><br>
    La recolección, almacenamiento, uso y/o circulación de los datos personales de los clientes de <b>DE
        IRISARRI</b> tiene como
    finalidad principal prestar los servicios y productos ofrecidos y/o contratados por el cliente de
    forma adecuada y con una
    excelente calidad.
    Las finalidades específicas podrán ser consultadas en la POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN
    PERSONAL de
    <b>DE IRISARRI</b> la cual podrá ser consultada en la página www.deirisarri.co.
    Datos sensibles:
    <b>DE IRISARRI</b> no recolectará, almacenará o tratará datos sensibles, a menos que sea
    estrictamente necesario.
    <br><br>
    <b>TRANSMISIÓN Y TRANSFERENCIA DE DATOS PERSONALES</b>
    <br><br>
    Con el objetivo de dar cumplimiento al objeto de la marca <b>DE IRISARRI</b> y con el fin de cumplir
    con las operaciones del
    negocio, <b>DE IRISARRI</b> podrá transmitir o transferir los datos personales a terceros nacionales
    o extranjeros bajo las medidas
    de seguridad necesarias para proteger su información y con limitación al desarrollo de la marca
    <b>DE IRISARRI</b>
    <br><br>
    <b>CAMBIOS AL AVISO DE PRIVACIDAD</b>
    <br><br>
    En caso de existir cambios sustanciales en el presente Aviso de Privacidad se pondrá
    la versión actualizada del mismo a través de la página web www.deirisarri.co o se
    enviará la versión actualizada al correo que proporcionó al momento del registro.
    <br><br>
    <b>DERECHOS QUE LE ASISTEN AL TITULAR</b>
    <br><br>
    En cumplimiento de las garantías fundamentales consagradas en la Constitución y la
    Ley, y sin perjuicio de lo dispuesto en las demás normas que regulen la materia, los
    Titulares de los datos personales podrán ejercer de forma gratuita e ilimitada los
    siguientes derechos: (i) Conocer, actualizar y rectificar sus datos personales
    recolectados por <b>DE IRISARRI</b>. Este derecho se puede ejercer entre otros frente a
    datos parciales, inexactos, incompletos, fraccionados o que induzcan al error, (ii)
    Solicitar prueba de la autorización otorgada a D/IR (iii)Ser informado por <b>DE IRISARRI</b>
    el responsable y/o encargado, previa solicitud, respecto del uso y tratamiento que le
    han dado a los datos del titular, (iv) Presentar ante la Superintendencia de Industria y
    Comercio quejas y reclamos por infracciones a lo dispuesto en la ley (v) Revocar en
    cualquier tiempo la autorización y/o supresión del dato teniendo en cuenta los límites
    legales para ello, (vi) Acceder en forma gratuita a los datos del titular contenidos en la
    base de datos de <b>DE IRISARRI</b> vii) Los demás que se establezcan en la legislación
    vigente, especialmente en la Ley 1581 de 2012 y en el Decreto Único 1074 de 2015 en
    sus Capítulos 25 y 26, o las normas que los modifiquen, adicionen o sustituyan. Los
    anteriores derecho podrán ser ejercidos a través del correo electrónico
    <b>lauradeirisarri@gmail.com</b> o al teléfono 3108757963
    <br><br>
    Bogotá D.C. 2018.
</span>