<span class="terminos"><b>POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN PERSONAL</b>
    <br><br>
    <b> INTRODUCCIÓN</b>
    <br><br>

    LAURA DE IRISARRI, como titular de la marca DE IRISARRI ubicada en la Calle 79b # 7 38 y Responsable
    de los datos que se
    recolectan bajo la misma, en cumplimiento con lo establecido en la Ley 1581 de 2012 reglamentada
    parcialmente por el
    Decreto 1377 de 2013 y Decreto 886 de 2014, normas compiladas en el Decreto Único Nacional del
    Sector Comercio,
    Industria y Turismo 1074 de 2015 (Artículos 2.2.2.25.1.1. al 2.2.2.26.3.4), mediante el presente
    documento adopta la POLÍTICA
    DE PROTECCIÓN Y TRATAMIENTO DE DATOS PERSONALES con el propósito de proteger y respetar el derecho
    constitucional del Habeas Data y de proporcionarle un adecuado tratamiento a la información personal
    brindada y
    recolectada de las personas naturales a través de diferentes medios tales como formatos, correo
    electrónico, mensajes de
    texto, página web, redes sociales, teléfono y cualquier otro medio conocido o por conocer en nombre
    de la marca DE
    IRISARRI y guardará su confidencialidad atendiendo los requisitos y medidas de seguridad exigidos
    por la ley.
    <br><br>
    <b>DERECHOS DE LOS TITULARES</b>
    <br><br>
    En cumplimiento de las garantías fundamentales consagradas en la Constitución y la Ley, y sin
    perjuicio de lo dispuesto en
    las demás normas que regulen la materia, los Titulares de los datos personales podrán ejercer de
    forma gratuita e
    ilimitadamente los siguientes derechos:<br><br>

    <b>Derecho al acceso</b> a su información personal objeto de tratamiento de forma gratuita<br>

    <b>Derecho a la actualización</b> de los datos personales objeto de tratamiento.<br>

    <b>Derecho a la rectificación</b> de los datos personales objeto de tratamiento.<br>

    <b>Derecho de oposición</b> a que los datos personales sean objeto de tratamiento<br>

    <b>Derecho a solicitar la supresión</b> de los datos personales cuando en el tratamiento no se
    respeten los principios, derechos y
    garantías constitucionales y legales.<br>
    <b>Derecho a solicitar prueba de la autorización</b> otorgada para el tratamiento.<br>
    <b>Derecho a revocar el consentimiento</b> para el tratamiento de los datos personales.<br>
    <b>Derecho a presentar quejas y reclamos</b> ante la Superintendencia de Industria y
    Comercio por infracciones a lo dispuesto en la Ley Estatutaria 1581 de 2012 y las demás
    normas que la modifiquen, adicionen o complementen.<br>

    <b>Derecho a ser informado</b> por parte del Responsable y/o Encargado del uso y tratamiento
    que se les dará a los datos personales, así como de las modificaciones y actualizaciones
    de las políticas de protección, medidas de seguridad y finalidades.<br><br>
    <b>DATOS PERSONALES RECOLECTADOS</b>
    <br><br>
    Los datos que serán recolectados por <b>DE IRISARRI</b> son aquellos datos que el titular
    proporcione voluntariamente y sean necesarios para brindarle (y mejorar) nuestros servicios, y
    para los fines que se describen en el punto IV. del presente documento y que usted acepta
    libremente. Principalmente, la información que se recolecta es información personal directa
    como nombre, domicilio, teléfono, correo electrónico, número de tarjeta de crédito, información
    de facturación información de envíos y preferencias de productos a través de formularios
    electrónicos u otros formatos, vía telefónica, redes sociales y de forma directa del titular, la
    cual podrá ser almacenada en las bases de datos de <b>DE IRISARRI</b><br><br>
    Al proporcionarnos sus datos por cualquiera de los medios descritos, usted se compromete a
    que los mismos sean fidedignos, correctos y actuales. En este sentido, se pone en su
    conocimiento que si se detecta cualquier dato falso o engañoso o que no cumpla con los
    requisitos anteriores, se procederá a su eliminación sin necesidad de previo aviso.<br><br>
    <b>DE IRISARRI</b> no recolectará, almacenará o tratará datos sensibles, a menos que sea
    estrictamente necesario. De presentarse dicha situación, no realizará ningún tratamiento
    sin la debida autorización previa, informada y expresa del titular o representante legal, y
    las finalidades que lo justifican, ya que como se establece en el artículo 6 de la Ley 1581 de
    2012, se prohíbe el tratamiento de datos personales sensibles a menos que se encuentre
    incurso en alguna de las excepciones contempladas en el mencionado artículo.<br><br>
    <b>TRATAMIENTO Y FINALIDADES DE LOS DATOS PERSONALES</b><br><br>
    La recolección, almacenamiento, uso y/o circulación de los datos personales de los
    clientes de <b>DE IRISARRI</b> tiene como finalidad principal prestar los servicios y productos
    ofrecidos y/o contratados de forma adecuada y con una excelente calidad.<br><br>
    Sin embargo, para poder desarrollar el objeto de la marca, de igual forma se podrá hacer
    el tratamiento de los datos para las siguientes finalidades:<br><br>
    1. Mantenimiento, desarrollo y/o control de la relación comercial entre el
    Titular del dato personal y DE IRISARRI<br><br>
    2. Brindar asesoramiento en moda a los clientes<br><br>
    3. Comunicación con los clientes a través de múltiples canales y medios para
    mantenerlos actualizado en temas como promociones, ofertas, contenido de la
    experiencia del cliente y productos o servicios nuevos<br><br>
    4. Llenar pedidos de productos, servicios o información de inventarios<br><br>
    5. Mejorar la efectividad de nuestros servicios, sitios web, medios de comunicación.<br><br>

    6. Mantener un historial de las compras de los clientes<br><br>
    7. Rastrear y confirmar pedidos en línea<br><br>
    8. Atender las consultas que usted tenga sobre los productos y servicios, eventos y
    promociones de la marca<br><br>
    9. Transmisión de datos nacional o internacional a terceros tales como agentes,
    proveedores de servicios y otros representantes que actúan en nuestro nombre,
    con fines limitados para el desarrollo del objeto de la marca.<br><br>
    10. Invitar al cliente a participar de todo tipo de actividades que se desarrollen entorno
    a nuestra marca<br><br>
    11. Gestión contable, económica, fiscal y administrativa de clientes<br><br>
    12. Realizar otras actividades comerciales según sea necesario para el desarrollo de
    la marca DE IRISARRI<br><br>
    13. Gestiones derivadas de las relaciones contractuales y/o extracontractuales.<br><br>
    14. Transferencia de los datos personales nacional o internacional en caso de una
    venta, fusión, adquisición, disolución o evento similar relacionado con la marca.<br><br>
    Considerando los fines descritos, su consentimiento para las finalidades descritas será
    válido de manera indefinida o hasta que usted lo revoque. Usted como titular del dato
    puede elegir: Dejar de recibir comunicaciones comerciales por e-mail, correo directo,
    redes sociales, teléfono y móvil en cualquier momento que lo desee usando los canales
    de acceso descritos en el punto V del presente documento.<br><br>
    <b>CANALES DE ACCESO</b><br><br>
    En desarrollo de la garantía constitucional de Habeas Data respecto de los derechos de
    acceso, actualización, rectificación y supresión por parte del Titular de los datos
    personales, sus causahabientes, representantes legales y/o apoderados, <b>DE IRISARRI</b>
    habilitará canales de acceso para los Titulares.<br><br>
    Todas las comunicaciones, consultas, quejas y/o reclamos deberán ser dirigidas al a
    <b>LAURA DE IRISARRI</b> por cualquiera de los siguientes medios:<br><br>

    Vía electrónica: A la dirección electrónica: lauradeirisarri@gmail.com<br><br>
    Vía física: <b>Calle 79b # 7 38</b> Casa Santamaría<br><br>
    Teléfono: 3108757963<br><br>
    <b>PROCEDIMIENTO PARA EJERCER LOS DERECHOS DE LOS TITULARES</b><br><br>
    Las consultas, quejas o reclamos podrán ser presentados a través de un documento
    enviado mediante el correo electrónico lauradeirisarri@gmail.com, el cual deberá ir con
    el título <b>DE IRISARRI - DATOS PERSONALES</b><br><br>

    <b>Consultas</b>
    <br><br>
    Tratándose del derecho de petición en calidad de información y/o consultas, <b>DE IRISARRI</b>
    dará respuesta en un término máximo de diez (10) días hábiles contados a partir del día
    siguiente a la fecha de recepción de la petición o consulta mediante el correo electrónico
    mencionado.<br><br>
    Cuando no fuere posible atender la consulta dentro de dicho término se informará al
    interesado, indicando los motivos de la demora y señalando la fecha en que esta se
    atenderá, la cual en ningún caso podrá superar cinco (5) días hábiles siguientes al
    vencimiento del primer término. El documento de consulta deberá contener lo siguiente:
    <br><br>
    a) El nombre y número de identificación del titular.<br>
    b) Descripción detallada de la consulta<br>
    En caso de que el causahabiente del Titular quien solicite la consulta, deberá adjuntar a la
    consulta:<br><br>
    a) El nombre y número de identificación del titular.<br>
    b) Documento que acredite la calidad en que obra.<br>
    c) Copia documento de identidad del causahabiente<br>
    d) Descripción completa de la consulta.<br>
    e) Dirección y datos de contacto del consultante.<br><br>

     Si se trata del representante legal y/o apoderado del titular, deberá presentar:<br><br>

    a) El nombre y número de identificación del titular.<br>
    b) Copia Documento de identidad del representante legal<br>
    c) Documento que acredite la calidad en la que obra (poder, certificación).<br>
    d) Descripción completa de la consulta.<br>
    e) Dirección y datos de contacto del consultante.<br><br>
    <b>Quejas y/o reclamos</b>
    <br><br>
    Cuando el Titular considere que su información debe ser objeto de corrección,
    actualización o supresión o cuando advierta un presunto incumplimiento de cualquiera de
    sus derechos, el término máximo para atender la queja o reclamo será de quince (15) días
    hábiles contados a partir del día siguiente a la fecha de recepción del documento. Cuando
    no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los
    motivos de la demora y la fecha en que será atendido, la cual en ningún caso podrá
    superar los ocho (8) días hábiles siguientes al vencimiento del primer término. Si el
    reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días
    siguientes a la recepción de la queja y/o reclamo para que subsane las fallas.
    <br><br>
    Transcurridos dos (2) meses desde la fecha del requerimiento sin que el solicitante
    presente la información requerida, se entenderá desistida la queja o reclamo. El
    documento de queja o reclamo deberá contener:<br><br>
    a) El nombre y número de identificación del titular.<br>
    b) Copia documento de identidad del titular o documento que acredite su
    calidad de titular<br>
    c) Descripción detallada del reclamo<br><br>
    En caso de que el causa habiente del Titular quien solicite el reclamo, deberá adjuntar al
    documento:<br><br>
    a) El nombre y número de identificación del titular.<br>
    b) Documento que acredite la calidad en que obra.<br>
    c) Copia documento de identidad del causahabiente<br>
    d) Descripción completa de la queja o reclamo<br>
    e) Dirección y datos de contacto del consultante.<br>
    <br><br>
     Si se trata del representante legal y/o apoderado del titular, deberá presentar:
    <br><br>
    a) El nombre y número de identificación del titular.<br>
    b) Copia Documento de identidad del representante legal<br>
    c) Documento que acredite la calidad en la que obra (poder, certificación).<br>
    d) Descripción completa de la queja o reclamo<br>
    e) Dirección y datos de contacto del consultante.<br><br><br>
    <b>SEGURIDAD RESPECTO A SUS DATOS PERSONALES</b><br><br>
    <b>DE IRISARRI</b> ha adoptado las medidas de seguridad, administrativas, técnicas y
    físicas, necesarias para proteger sus datos personales contra daño, pérdida,
    alteración, destrucción o el uso, acceso o tratamiento no autorizado.<br><br>
    <b>VIGENCIA DE LA POLÍTICA</b><br><br>
    La presente Política empezará a regir a partir de 2018. Los Datos Personales que sean
    almacenados, utilizados o transmitidos permanecerán en las bases de datos de <b>DE IRISARRI</b>
    durante el tiempo que sea necesario para cumplir con las finalidades expuestas
    en esta política o de acuerdo al cumplimiento de los deberes legales.<br><br>
    Sin embargo, la información será revisada cada año para verificar la veracidad del dato y
    finalidad de seguir con su tratamiento.<br><br>
    De ser necesario <b>DE IRISARRI</b> se reserva el derecho a modificar la presente Política de
    forma unilateral. Por lo tanto, de realizarse cambios en el documento, se informará a los
    usuarios de los mismos a través de la correspondiente actualización de su contenido en
    nuestra página web www.deirisarri.co
    <br><br><br><br>
</span>