<span class="terminos"><b>TERMINOS Y CONDICIONES DE USO<br><br> INTRODUCCIÓN</b><br><br> El uso de este
    Sitio Web se rige por los términos y condiciones de uso que a continuación se presentan. El cliente
    o usuario al acceder al Sitio Web o hacer un pedido a
    través del mismo, está aceptando las condiciones generales de uso y se compromete a respetar todo el
    contenido, los deberes, obligaciones, acciones y omisiones aquí expresadas. Cuando el usuario o
    cliente utilice cualquier servicio
    suministrado en este Sitio, estará sujeto a las reglas, guías, políticas, términos y condiciones
    aplicables a dicho servicio en particular. Si usted no acepta todos los Términos y Condiciones de
    Uso, por favor absténgase de navegar
    en este Sitio Web. DE IRISARRI se reserva el derecho a modificar los Términos y Condiciones de Uso
    del Sitio Web, a su sola discreción, en cualquier momento y sin previo aviso bajo el principio de
    autonomía de la voluntad. El uso del
    Sitio Web con las modificaciones supone la plena aceptación de los Términos y Condiciones de Uso en
    su versión actualizada.<br><br><b> AVISO LEGAL</b><br> <br>El cliente o usuario declara bajo la
    gravedad de juramento:<br><br> Que sus ingresos provienen de actividades
    lícitas<br> Que no se encuentra con registro negativo en listados de prevención de lavado de activos
    nacionales o internacionales<br> Que nunca han permitido que terceras personas utilicen sus cuentas
    o tarjetas de crédito o débito para consignar
    o administrar dineros que desconozca su origen o provengan de actividades contrarias a la ley.<br>
    Que ha actuado dentro del marco legal vigente en Colombia, Que ha brindado información brindada
    veraz, exacta, correcta y fidedigna
    <br><br>
    En caso de presentarse alguna infracción, violación o reclamo frente a la información o
    los ingresos, el cliente o usuario se obliga a responder frente a DE IRISARRI por todos los
    perjuicios que se llegaren a causar como consecuencia de la información o proveniencia
    de los ingresos. En igual sentido responderá ante terceros perjudicados.
    <br><br>
    <b>Cambio o devolución de un producto</b>
    <br><br>
    De acuerdo a la Ley 1480 de 2011 (Estatuto del Consumidor)  existe la obligación de
    responder por la garantía cuando se presenta una falla o un daño en el producto o
    servicio, es decir, cuando las condiciones de calidad o de idoneidad resulten afectadas. El
    plazo para aplicar la garantía del producto es de tres (3) meses, contados a partir de la
    entrega del producto.
    <br><br>
    Cuando la reclamación se hace por una causa diferente a la garantía legal, se aplicarán
    las políticas de devoluciones o cambios que se dispone a continuación:<br><br>
     La solicitud debe ser presentada dentro de los 5 (cinco) días hábiles siguientes a la
    entrega del producto.<br><br>
     El producto debe estar nuevo, sin uso, con todos sus empaques originales, piezas,
    accesorios, y etiquetas adheridas al mismo.<br><br>
     No se efectuarán cambios de prendas de vestir con algún tipo de arreglo o mancha,
    ropa interior, ni vestidos de baño o productos en promoción.<br><br>

    Sin perjuicio de lo anterior, toda venta efectuada se considera como una venta en firme,
    por lo tanto no se admitirá la devolución del producto o el dinero que no estén
    respaldadas en la ley o mediante orden de autoridad competente.
    <br><br>
    <b>Limitación de Responsabilidad</b>
    <br><br>
    Sin perjuicio de lo determinado en la Legislación Colombiana, <b>DE IRISARRI</b> no asume
    responsabilidad alguna de los daños personales o del lucro cesante o daño emergente, ni
    de los daños especiales, directos o indirectos incluyendo pero sin limitarse la existencia
    de virus, incapacidad para usar el material en este Sitio Web o Sitios Web vinculados,
    pérdida de oportunidades de negocios, o cualquier otro daño resultante o relacionado con
    el uso o el mal uso del Sitio Web y de los servicios, como quiera que haya sido causado e
    incluso si se ha informado a DE IRISARRI de la posibilidad de tales daños. DE IRISARRI
    no asume responsabilidad alguna en caso de que el uso del material de este Sitio Web
    dé lugar a la reparación o corrección de equipos o información, el usuario o cliente deberá
    asumir cualquier costo derivado de ello.<br><br>
    Así mismo, bajo ninguna circunstancia, <b>DE IRISARRI</b> será responsable por el contenido
    que el cliente o usuario pueda llegar a incorporar en el Sitio Web, ni garantiza la exactitud,
    veracidad, confiabilidad ni actualización de la información suministrada.<br><br>
    <b>Derechos de Propiedad Intelectual</b>
    <br><br>
    Todo el contenido de la presente Sitio Web es de propiedad de <b>LAURA DE IRISARRI</b>
    propietaria de la marca <b>DE IRISARRI</b>, incluyendo pero sin limitarse a las marcas, logos,
    nombres, fotografías, diseños, imágenes, datos y demás elementos de propiedad
    industrial o intelectual insertados, usados y/o desplegados en este sitio web. Queda
    expresamente prohibida la adaptación, modificación, distribución, comercialización,
    comunicación pública y/o reproducción total o parcial del Sitio Web o de cualquiera de
    sus contenidos de propiedad intelectual o industrial sin la autorización previa, expresa y
    por escrito de <b>LAURA DE IRISARRI</b>.
    <br><br>
    <b>Manejo de información</b>
    <br><br>
    La información recolectada por <b>DE IRISARRI</b> en las transacciones realizadas, es
    suministrada por el usuario o cliente de forma libre y voluntaria, para que ésta sea
    administrada por <b>DE IRISARRI</b> o por quien éste designe para el cumplimiento de los
    deberes adquiridos.<br><br>
    El suministro de la información implica su recolección, almacenamiento, comunicación
    de información comercial, publicitaria y de mercadeo relacionada con la actividad
    comercial de la marca.<br><br>
    Asimismo, los datos recolectados serán objeto de análisis para fines de mejorar la
    estrategia de negocios del Sitio Web y para fines de predicción, clasificación y
    segmentación.<br><br>
    <b>Precio</b>
    <br><br>
    El valor total de la compra estará compuesto de los siguientes valores a cargo del cliente
    o usuario: valor del producto, impuestos y gastos de transporte si fuere el caso.<br><br>
    <b>Domicilio y Legislación aplicable</b><br><br>
    Para lo previsto en estos Términos y Condiciones de uso, el usuario o cliente acuerda
    someterse a las leyes aplicables en el territorio colombiano renunciando expresamente al
    fuero que pudiese corresponderle por razón de su domicilio presente o futuro,
    reconociendo que su solución, en su caso, debe hacerse bajo las leyes de Colombia.<br><br>
    <b>Comentarios y sugerencias</b>
    <br><br>
    Sus comentarios y sugerencias serán bien recibidos. Le rogamos que nos envíen tales
    comentarios y sugerencias a través de nuestro correo electrónico
    lauradeirisarri@gmail.com<br><br><br><br><br><br>
</span>